* {
  margin: 0;
}

body {
  font-family: Poppins;
  background: #f1f5f9;
  line-height: 1.5;
}

.section {
  padding: 5rem 0;
  background: #fff;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.title-underline {
  height: 0.25rem;
  width: 8rem;
  background: cornflowerblue;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
